{% extends 'admin/base.html.twig' %}

{% block title %}Admin éditer une catégorie | ActuFoot{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Editer une catégorie</h1>
        {{ include('admin/category/_form.html.twig', {button: 'Editer'}) }}
    </div>

{% endblock %}
